.ClassC {
    height: 40px;
    width: 30px;
    font-size: 40px;
    overflow: hidden;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 6px;
    border-bottom-color: rgb(84, 97, 103);
    border-bottom-width: 3px;
    border-bottom-style: solid;
    text-align: center;
}

.ClassUN{
    height: 40px;
    width: 30px;
    overflow: hidden;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 6px;
    border-bottom-color: rgb(84, 97, 103);
    border-bottom-width: 3px;
    border-bottom-style: solid;
    text-align: center;
}

span {
    border-style: solid;
    border-color: rgb(227, 23, 23);
    border-radius: 100%;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 4px;
}

#lifeCount {
    margin-top: -20px;
}

#uiFeedback {
    margin-top: -20px;
}